[Unit]
Description=BotRSS Streamlit UI
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/rssgenerator
Environment="API_HOST=https://apirss.romerosolutions.com.br/"
ExecStart=/root/rssgenerator/.venv/bin/streamlit run app.py --server.port 8501 --server.headless true --server.enableCORS=false --server.address=0.0.0.0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 