[Unit]
Description=BotRSS FastAPI Server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/rssgenerator
ExecStart=/root/rssgenerator/.venv/bin/uv run main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 